@model jritchieShopping.Models.CodeFirst.CartItem

@{
    ViewBag.Title = "Details";
}

<div class="subpageDisplay">

    <div style="text-align:center; border-bottom:1px solid rgb(255,120,0); margin-bottom:20px">
        <h3>Cart item: @Model.Item.Name</h3>
        <h4 style="font-weight:bold">$@Model.Item.Price.ToString("N2")</h4>
    </div>

    <div class="container-fluid" style="margin-top:20px; padding-bottom:20px; border-bottom:1px solid rgb(255,120,0)">
        <div class=" row">

            <div class=" col-md-4 col-md-offset-2">
                <div style="margin-left:60px">
                    <h4 style="font-weight:bold">Description</h4>
                </div>
                <div style="margin-left:60px">
                    @Html.Raw(Model.Item.Description)
                </div>
            </div>

            <div class="col-md-4 text-center">
                <img src="@Model.Item.MediaURL" style="display:block; margin:auto; border:2px solid rgb(255,120,0); max-height:293px; width:auto" />
            </div>

        </div>
    </div>

    <p>
    </p>
    <p style="text-align:center; padding:20px 0px 10px 0px">
        @Html.ActionLink("Back to Cart", "Index", "CartItems", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })
    </p>

</div>
